@import '../../../../node_modules/angular-calendar/css/angular-calendar.css';

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.scrollable-menu {
    max-height: 300px;
    overflow-y: auto;
}

