// .kpi-card {
//     width: 100%;
//     max-width: 18em;
//     height: 9em;
//     position: relative;
//     @media (max-width: 768px) {
//         max-width: 100%;
//         height: auto;
//     }
// }

// .card-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 1rem;
//     @media (max-width: 768px) {
//         padding: 0.5rem;
//     }
// }

// .xxs-font {
//     font-size: 0.75rem;
//     @media (max-width: 768px) {
//         font-size: 0.625rem;
//     }
// }
.kpi-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.xxs-font {
    font-size: 0.75rem;
    @media (max-width: 768px) {
        font-size: 0.625rem;
    }
}


.invisible {
    visibility: hidden;
    display: none;
}
