<div class="bg-white overflow-hidden shadow rounded-lg kpi-card relative">
  <button class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 focus:outline-none"
            (click)="openSettingsModal(settingsModal)">
      <i class="fas fa-cog"></i>
    </button>
  <div class="px-3 py-2 card-content mt-3">
    
    <div class="flex justify-between items-center mb-2">
      <div>
        <p class="text-sm font-medium text-gray-500">Nombre de lignes</p>
        <p class="text-xl font-semibold text-gray-900">1452</p>
      </div>
      <i class="fas fa-chart-bar text-blue-500 fa-2x"></i>
    </div>
    <hr class="my-2 border-gray-300">
    <div class="flex justify-between items-center">
      <div class="bg-green-100 text-green-800 px-2 py-1 rounded flex items-center xxs-font">
        <!-- Icône conditionnelle selon le pourcentage -->
        <i class="fas" [ngClass]="{'fa-arrow-up': percentage > 0, 'fa-arrow-down': percentage < 0, 'text-green-500': percentage > 0, 'text-red-500': percentage < 0}"></i>
        <span>{{ percentage | number:'1.1-2' }}%</span>
      </div>
      <p class="xxs-font text-gray-500">Depuis la période précédente</p>
    </div>
  </div>
</div>



<!-- <ng-template #settingsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Paramètres</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="startDate">Date de début:</label>
        <input type="date" class="form-control" id="startDate" class="form-control" formControlName="startDate">
      </div>
      <div class="form-group">
        <label for="endDate">Date de fin:</label>
        <input type="date" class="form-control" id="endDate" class="form-control" formControlName="endDate">
      </div>
      <div class="form-group">
        <label for="preset">Présélection:</label>
        <select class="form-control" id="preset" formControlName="preset">
          <option value="week">Depuis le début de la semaine</option>
          <option value="month">Depuis le début du mois</option>
          <option value="quarter">Depuis le début du trimestre</option>
          <option value="year">Depuis le début de l'année</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fermer</button>
    <button type="button" class="btn btn-primary">Sauvegarder les changements</button>
  </div>
</ng-template> -->
<ng-template #settingsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Paramètres</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="startDate">Date de début:</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate">
      </div>
      <div class="form-group">
        <label for="endDate">Date de fin:</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate">
      </div>
      <div class="form-group">
        <label for="preset">Présélection:</label>
        <select class="form-control" id="preset" formControlName="preset">
          <option value="week">Depuis le début de la semaine</option>
          <option value="month">Depuis le début du mois</option>
          <option value="quarter">Depuis le début du trimestre</option>
          <option value="year">Depuis le début de l'année</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="saveSettings()">Sauvegarder les changements</button>
  </div>
</ng-template>
