.kpi-card {
    width: 18em;
    height: 9em;
    position: relative;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.xxs-font {
    font-size: 0.75rem;
}


