<div class="card">
    <div class="card-header">Documents</div>
    <div class="card-body">
        <!-- <ngx-dropzone (change)="onSelect($event)"> -->
            <!-- <ngx-dropzone *ngIf="currentUser.role === 'superAdmin' || currentUser.role === 'cocontractor' || currentUser.role === 'subcontractor' || isInvoiceMode" (change)="onSelect($event)"> -->
                <!-- <ngx-dropzone *ngIf="(currentUser.role === 'superAdmin' || currentUser.role === 'cocontractor' || currentUser.role === 'subcontractor' || isInvoiceMode) && currentUser.role !== 'comanager' && currentUser.role !== 'supermanager'" (change)="onSelect($event)"> -->
                    <ngx-dropzone *ngIf="(currentUser.role === 'superAdmin' || currentUser.role === 'comanager' || currentUser.role === 'supermanager' || currentUser.role === 'cocontractor' || currentUser.role === 'subcontractor' || isInvoiceMode)" (change)="onSelect($event)">
                    <ngx-dropzone-label>
                <div>
                    Déposez vos fichiers ici ou cliquez pour choisir des fichiers.
                </div>
                <div class="svg-container">
                    
                    
                    
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <style>
                            #arrow-box {
                                transform: translateY(100%);
                                animation: moveup 1.5s ease-in-out infinite;
                            }
                            
                            @keyframes moveup {
                                0% {
                                    transform: translateY(100%);
                                }
                                
                                40%,
                                60% {
                                    transform: translateY(0);
                                }
                                
                                100% {
                                    transform: translateY(-100%);
                                }
                            }
                        </style>
                        <defs>
                            <clipPath id="cloud-mask">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M76.3818 41.5239C76.3818 41.7358 76.3818 41.7358 76.3818 41.9477C86.9769 44.0667 94.3935 54.0261 93.334 64.8332C92.2745 75.6402 83.1627 83.9044 72.1438 83.9044H29.7633C18.9563 83.9044 9.84454 75.6402 8.57313 64.8332C7.30172 54.0261 14.9302 44.0667 25.5253 41.9477C25.5253 41.7358 25.5253 41.7358 25.5253 41.5239C25.5253 27.5384 36.968 16.0957 50.9536 16.0957C64.9391 16.0957 76.3818 27.5384 76.3818 41.5239Z" />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#cloud-mask)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M100 -100H0V200H100V-100ZM34.8377 49.1524L47.426 36.4383C48.2652 35.5907 49.3142 35.1669 50.3632 35.1669C51.4122 35.1669 52.671 35.5907 53.3005 36.4383L65.8888 49.1524C66.9378 50.4238 67.3574 52.3309 66.728 53.8143C66.0986 55.2976 64.6299 56.3571 62.9514 56.3571H54.5593V69.0712C54.5593 71.4021 52.671 73.3093 50.3632 73.3093C48.0554 73.3093 46.1672 71.4021 46.1672 69.0712V56.3571H37.775C36.0966 56.3571 34.6279 55.2976 33.9985 53.8143C33.3691 52.119 33.5789 50.4238 34.8377 49.1524Z" fill="rgb(37,43,59)" id="arrow-box" />
                        </g>
                    </svg>
                </div>
            </ngx-dropzone-label>
        </ngx-dropzone>
        <div *ngIf="files && files.length > 0" class="mt-2">
            <div class="card">
                <div class="card-header">
                    Fichiers:
                    <span class="align-right">{{ files.length }}</span>
                </div>
                <div class="file-list">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item file-item" *ngFor="let file of files; let i = index">
                        <div class="file-description d-flex align-items-center">
                            <i class="fas fa-file-alt me-2"></i>
                            <span class="file-name flex-grow-1">{{ file.name }}</span>
                            <span class="file-size me-2">{{ file.size | fileSize }}</span>
                            <button type="button" class="btn btn-download ms-auto" (click)="onFileDownload(file)" [ngbTooltip]="'Télécharger '+ file.name">
                                <i class="fas fa-download"></i>
                            </button>
                            <button *ngIf="currentUser.role == 'superAdmin'" type="button" class="btn btn-delete ms-auto" (click)="removeFile(i)" [ngbTooltip]="'Supprimer '+ file.name +' de la liste'">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>