#page-topbar {
    .navbar-header {
        padding: 0; // Assurez-vous qu'il n'y a pas de padding

        .user-info-bar {
            width: 100%;
            // background-color: #4b9b11;
            background-color: #F1F5F7;
            color: var(--bs-white);
            padding: 0; // Assurez-vous qu'il n'y a pas de padding
            box-shadow: var(--bs-box-shadow);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px; // Fixer la hauteur pour éviter la bande blanche
            flex-wrap: nowrap; // Changer de wrap à nowrap

            .logo {
                display: flex;
                align-items: center;
                // margin-right: 20px;
                // margin-left: 20px;
                margin: auto;

                img {
                    width: auto;
                    height: 50px; 
                    display: block;
                }
            }

            .user-details {
                flex: 1;
                display: flex;
                align-items: center;
                margin-right: 20px;
                margin-left: 20px;

                span {
                    margin-right: 10px;
                    // color: #000;
                    // color: var(--bs-white);
                    color: #252b3b;
                }
            }

            .role-badge {
                padding: 5px 10px;
                border-radius: 15px;
                color: var(--bs-white);
                font-weight: bold;
                margin-right: 10px;

                &.badge-superadmin { background-color: #e74c3c; }
                &.badge-cocontractor { background-color: #3498db; }
                &.badge-subcontractor { background-color: #2ecc71; }
                &.badge-customer { background-color: #f1c40f; }
                &.badge-comanager { background-color: #9b59b6; }
                &.badge-supermanager { background-color: #95a5a6; }
            }

            .logout-button {
                background: none;
                border: none;
                // color: var(--bs-white);
                color: #252b3b;
                cursor: pointer;
                margin-right: 8px;

                &:hover {
                    color: var(--bs-light);
                }

                i {
                    font-size: 1.5rem;
                }
            }

            .white-rectangle {
                background-color: #f1f5f7;
                height: 100%; // Assurer que le rectangle blanc occupe toute la hauteur de la barre
                display: flex;
                align-items: center; // Centrer le contenu verticalement
                width: 240px;
                margin: 0; // Enlever toutes les marges
                padding: 0; // Enlever tous les padding
            }
        }
    }
}
