.file-item {
    transition: transform 0.1s ease-in-out;
}

.file-item:hover {
    transform: scale(1.02);
    background-color: #f8f9fa;
}

.file-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-name {
    font-weight: bold;
    font-size: small;
    margin-right: 8px;
}

.file-size {
    margin-left: auto;
    white-space: nowrap;
    font-size: smaller;
}

.file-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-download, .btn-print {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 12px;
    background-color: transparent;
    color: #17a2b8;
    border: 1px solid #17a2b8;
}

.btn-download:hover, .btn-print:hover {
    background-color: #17a2b8;
    color: white;
    border-color: transparent;
}

// .card {
//     width: 406px;
// }

input[type="checkbox"] {
    margin-right: 10px;
}
